:root {
  --blue                   :   #1e90ff ;
  --white                  :   #ffffff ;
  --_DESIGN_BOUNDARY_WIDTH_0  :   0.0px     ;
  --_DESIGN_BOUNDARY_WIDTH_1  :   0.0px    ;
}

body {
  text-align:   center;
  font-family:  Yu Gothic UI Semibold;
  font-size:    8pt;
  position:     absolute;
  left:         50%;
  width:        780px;
  margin-left:  -390px;
  color:        rgb(253, 253, 5) ;
  /**/
  display:      flex;
  align-items:  center;
}

#card {
  width:          380px;
  margin:         5px auto;
  margin-left:    auto;
  padding:        .6em;
  background:     rgb(0, 0, 0) none repeat scroll 0% 0%;
  border-style:   none;
  border-width:   .5px;
  border-color:   blue;
  border-radius:  8px;
  /**/   
  display:        flex   ;
  flex-direction: column ;
  align-items:    center ;
}

.record-stack {
  /*design*/
  border-style:   double;
  border-width:   0px /* LAMBDA */ ;
  border-color:   rgb(63, 72, 204);
  border-radius:  2px;
  /**/
  width:          35em;
  /**/
  display:        flex;
  flex-direction: column;
  align-items:    center;
}
.record{
  /*design*/
  border-style:   dashed    ;
  border-width:   var(--_DESIGN_BOUNDARY_WIDTH_1) ;
  border-color:   purple    ;
  /**/
  width          :  100%  ;
  margin-bottom  :  .5em  ;
}
.anterior{
  /*design*/
  border-style:   dotted  ;
  border-width:   0px /* LAMBDA */ ;
  border-color:   yellow  ;
  /**/
  display         :  flex          ;
  justify-content :  space-between ;
}
.paunch{
  /**/
  display         :  flex          ;
  justify-content :  space-between ;
}
.field-stack{
  width: 50%;
}
.field.fixed{
  font-size  :    6pt  ;
  color      :    red  ;
  /**/
  display:        flex ;
}
/* .field.fixed .words{

} */
.field.scroll,.field.wrap{
   color     :    white ;
  /**/
  display    :    flex  ;
}
.words{
   width       :     95%  ;
   text-align  :     left ;
}
.field.scroll .words{
  height              :  1.33em ;
  border-bottom-color :  #d00   ;
  border-bottom-style :  solid  ;
  border-bottom-width :  .2px    ;
  overflow            :  hidden ;
}
.field.wrap .words{
  /* overflow:word-wrap; */
}
.field.timestamp{
  color           : cyan        ;
  /**/
  display         : flex        ;
  flex-direction  : row-reverse ;
}
.field.timestamp .words{
  font-style     :          italic ;
}
.posterior{
  /*design*/
  border-style :   dotted;
  border-width :   0px /* LAMBDA */ ;
  border-color :   purple;
  /**/
  width        :     1em   ;
  height       :     1em   ;
  font-size    :     18pt  ;
  margin-top   :     -.5em ;
}
.icon{
  color:    red   ;
  width:    1.5em ;
}
.timestamp .icon:hover{
  color             : lightred  ;
  background-color  : darkred   ;
  text-decoration   : underline ;
  cursor            : pointer ;
}
.idol{
  color:      green ;
  width:      1.5em ;
  visibility: hidden;
}